#top {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.header {
    position: absolute;
    color: #FFFFFF;
    top:45%;
    /* bottom: 90%; */
    left:40%;
}

#logo {
    position: absolute;
    top:25%;
    left:48%;
}
#last {
    position: absolute;
    /* right: 50px; */
    top: 3700px;
    margin: 50px;
    max-width: 400px;
    padding: 50px;
}
/* .input-group {
    position: absolute;
} */
#contact {
    position: absolute;
    width:100%;
}
#mouse {
    position: absolute;
    top:90%;
    left:50%;
}

#first-flex {
    float: left;
    margin: 0 0 0 15px;
}
#first {
    font-size: 10px;
}
#second {
    text-align: center;
}
.after-header {
    text-align: center;
}
.flex{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.second-image {
    /* position: relative; */
    width: 100%;
    height: 900px;
    overflow: hidden;
    text-align: center;
}
.inline-text {
    position: absolute;
    color: #FFFFFF;
    top:150%;
    left:10%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }