* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
  }
.header {
    position: top;
    color: white;
    left:40%;
    /* background-image: url('../images/background/h_img.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    text-align: center;
    height : 800px;
}
#first-txt {
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    top:55%;
    left:30%;
}
#last-contact {
    color:#FFFFFF;
    /* color: black; */
    position: absolute;
    top: 400%;
    text-align: center;
}
#logo {
    position: absolute;
    top:28%;
    left:45%;
}

#last {
    position: absolute;
    text-align: center;
    top: 2800px;
    margin: 50px;
    max-width: 400px;
    padding: 50px;
}


.col-4 {
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 60px;
    /* width: 60%; */
}
#mouse {
    position: absolute;
    top:95%;
    left:48%;
}
.popup {
    top:2300px;
}
#first-flex {
    float: left;
    margin: 0 0 0 15px;
}
.amazing {
    position: absolute;
    font-size: 15px;
    top:80%;
    left: 30%;
    bottom: 100%;
}
#second {
    text-align: center;
    left: 50%;
}
.after-header {
    text-align: center;
}
.flex{
    display:flex;
    text-align: center;
}
#portfolio {
    text-align: center;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
  }
.inline-text {
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    top:180%;
    left:10%;
}

.imageColumn {
    float: left;
    width: 25%;
    padding: 25px;
 }
.first-img{
     background-color: aquamarine;
 }